html, body
{
    font-size: 45px;
    font-family: cursive;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
header
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}
nav
{
    background-color: yellow;
    width: 30%;
    min-height: 115%;
    float: left;
}
.content
{
    width: 70%;
    display: inline-block;
    margin: 0;
}
.content img
{
    width: 100%;
    display: block;
}
li
{
    padding: 5px;
    list-style-type: none;
}
li:hover
{
    padding: 5px;
    color: blue;
    font-size: 120%;
    list-style-type: none;
}
.content .foots
{
    margin: 0;
    padding: 50px;
    background-color: gray;
    width: 100%;
    height: 100%;
    text-align: center;
}
.foot1
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 9%;
    background-color: black;
    color: white;
}
.foot2
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10%;
    background-color: black;
    color: white;
}
.foot3
{
    margin: 9%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}
.foot1:hover
{
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 9%;
    background-color: white;
    color: black;
}
.foot2:hover
{
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 10%;
    background-color: white;
    color: black;
}
.foot3:hover
{
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 9%;
    background-color: white;
    color: black;
}
a
{
    text-decoration: none;
    color: white;
}
a:hover
{
    text-decoration: none;
    color: black;
}